@model List<MyApiProject.WebUI.Dtos.ResultProductDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>ürün adı</th>
            <th>stok</th>
            <th>fiyat</th>
            <th>kategori adı</th>
            <th>sil</th>
            <th>güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductPrice</td>
                <td>@item.CategoryId</td>
                <td> <a href="/Products/DeleteProduct/@item.ProductId" class="btn btn-danger ">sil</a></td>
                <td> <a href="/Products/UpdateProduct/@item.ProductId" class="btn btn-danger ">güncelle</a></td>
                
            </tr>
            
        }
    </table>
    <a href="/Products/CreateProduct" class="btn btn-success"> yeni ürün girişi</a>
</div>